@charset "utf-8";


// Update Bulma's global variables
$primary: #44bb91;
$success: #97ab38;
$warning: #f68c2a;
$danger: #e65925;
$info: #0d7a5c;
$link: #014231;
$dark: #473b1e;

@import "~bulma/bulma";
